Django/lecture3/lecture3/__pycache__
Django/lecture3/hello/__pycache__
Django/lecture3/hello/migrations/__pycache__
Python/__pycache__
*.pyc
Django/lecture3/.env
Django/lecture3/lecture3/__pycache__/urls.cpython-38.pyc
Django/lecture3/lecture3/__pycache__/settings.cpython-38.pyc
SQL, Models, and Migrations/airline/.env
